body {
    display             : flex;
    flex-direction      : column;      /* stack children Vertically */
    min-height          : 100vh;       /* 100% of Viewport */
    align-items         : center;      /* center Horizontally*/
    justify-content     : center;      /* center Vertically */
    margin              : 0;
    padding             : 10px;
    box-sizing          : border-box;
    font-family         : "Aptos Display", "Segoe UI Variable", "Segoe UI", sans-serif;
}

/* Top Buttons */
#expandSettingsButton {
    position            : absolute;
    top                 : 10px;
    left                : 10px;
    padding             : 10px;
    border-radius       : 20%;
    transition          : background-color 0.3s, color 0.3s; /* smooth transition for :Hover */
}

#expandSettingsButton:hover {
    cursor              : pointer;
    background-color    : #005a9e;
    color               : white;
}

#toggleBrightnessButton {
    position            : absolute;
    top                 : 10px;
    left                : 50px;
    padding             : 10px;
    border-radius       : 20%;
    transition          : background-color 0.3s, color 0.3s; /* smooth transition for :Hover */
}

#toggleBrightnessButton:hover {
    cursor              : pointer;
    background-color    : #ffb900;
    color               : white;
}

/* Flashcard */
#flashcardContainer {
    cursor              : default;
    user-select         : none;     /* prevent Text selection */
    width               : 90vw;     /* 90% of Viewport */
    max-width           : 250px;
    text-align          : center;
}

#flashcardFooter {
    margin              : 5px;
}

.footerIcon {
    margin-left         : 5px;
    margin-right        : 5px;
    vertical-align      : text-bottom;
}

/* Answer Form */
#answerForm {
    display             : flex;
    flex-direction      : column;
    justify-content     : center;   /* center children Horizontally */
    align-items         : center;   /* center children Vertically */
}

/* Settings Overlay */
#settingsOverlay {
    position            : absolute;
    height              : 60%;
    width               : auto;
    max-width           : 45vh;        /* 45% of Viewport - for Mobile devices */
    padding-left        : 50px;
    padding-right       : 50px;
    z-index             : 1;
    left                : 50%;
    top                 : 50%;
    transform           : translate(-50%, -50%);
    overflow-x          : hidden;
    display             : flex;
    flex-direction      : column;
    justify-content     : flex-start;
    align-items         : center;
    transition          : opacity 0.5s ease;
    opacity             : 0;
    visibility          : hidden;
}

#settingsOverlay.visible {
    opacity             : 1;
    visibility          : visible;
}

/* Settings Overlay - Header */
#settingsOverlay-Header {
    position            : relative; /* relative to #settingsOverlay */
    width               : 100%;     /* relative to #settingsOverlay */
    padding-left        : 50px;
    padding-right       : 50px;
    display             : flex;
    justify-content     : center;   /* center children Horizontally */
    align-items         : center;   /* center children Vertically */
}

/* Settings Overlay - Top Buttons */
/* Close Button */
#collapseSettingsButton {
    position            : absolute;
    right               : 10px;
    padding             : 10px;
    border-radius       : 20%;
    transition          : background-color 0.3s, color 0.3s; /* smooth transition for :Hover */
}

#collapseSettingsButton:hover {
    cursor              : pointer;
    background-color    : #d13438;
    color               : #ffffff;
}

/* Settings Overlay - Settings */
#settingsOverlay-Settings {
    display             : flex;
    flex-grow           : 1;
    justify-content     : center;   /* center children Horizontally */
    align-items         : center;   /* center children Vertically */
    width               : 100%;     /* Match the width of the overlay */
}

#deckSelectionCombobox {
    display             : flex;
}
