/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.form-group input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.button-container {
    text-align: center;
}

.button-container button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.button-container button:hover {
    background-color: #0056b3;
}

.flashcardList {
    list-style: none;
    padding: 0;
}

#activeDeckTitle {
    font-family      : 'Oswald', sans-serif;
    text-align       : center;
    font-weight      : bold;
}

#randomFlashcardTitle {
    font-family      : 'Oswald', sans-serif;
    text-align       : center;
    font-weight      : bold;
}

/* The Overlay (background) */
.settingsOverlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(200,200,200); /* Black fallback color */
    background-color: rgba(200,200,200, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }

  /* Position the content inside the overlay */
.settingsOverlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }
  
  /* The navigation links inside the overlay */
  .settingsOverlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
  .settingsOverlay a:hover, .settingsOverlay a:focus {
    color: #f1f1f1;
  }

.flashcard {
    background-color : #FFFFFF;
    border           : 1px solid #333333;
    border-radius    : 7px;
    display          : flex;
    margin           : 0 auto;
    width            : 20%;
    font-size        : xxx-large;
    font-family      : 'Oswald', sans-serif;
    font-weight      : bold;
    color            : #333333;
    align-items      : center;
    justify-content  : center;
}

.flashcardHeader {
    padding          : 1em;
    height           : 3em;
}

.flashcardFooter {
    font             : 10px 'Oswald', sans-serif;
    padding          : 2em;
    height           : 1em;
}

#answerFields {
    margin-left: auto;
    margin-right: auto;
}

#answerCheckContainer {
    margin           : 0 auto;
    text-align: center;  
    width: 300px;  
    height: 2em;  
}

#answerValidation {
    text-align: center;
}